.Rproj.user
.Rhistory
.RData
.Ruserdata
Proyecto/Informe/Proyecto_CamiloRiquelme.aux
Proyecto/Informe/Proyecto_CamiloRiquelme.log
Proyecto/Informe/Proyecto_CamiloRiquelme.out
Proyecto/Informe/Proyecto_CamiloRiquelme.synctex.gz
Proyecto/input/data/Casen2022.csv
